/*Parameteros iguales en todas las páginas*/

/*Fuente inicio*/
@font-face {
  font-family: "Titulo";
  src: url("../fuentes/Drawliner.ttf") format("truetype");
}

/*Body y html de todas las páginas*/
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

